@{
    ViewData["Title"] = "Shopping cart";
}


@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/cart.js"></script>
}

<style>
    body { background-color: #eee; }

    #TOP { padding-bottom: 20px; }
</style>

<div id="root" class="row justify-content-md-center">
    <div id="TOP">
        <div class="d-flex align-items-center">
            <div class="p-1 flex-shrink-1">
                <img class="logo" src="~/img/sib_logo.svg"/>
            </div>
            <div class="p-2 w-100 align-content-center">
                <div class="label-container">
                    <h4 class="label" style="padding-top: 10px">ЦИФРОВОЙ КЛАСТЕР. Умный магазин с BLOCKCHAIN-кошельком</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 order-md-2 mb-4" v-if="purchaseResult.status == 0 || purchaseResult.status == 1">
        <cart-header
            v-bind:count="purchaseResult.shoppingCart.count">
        </cart-header>
        <cart-empty
            v-bind:isEmpty="purchaseResult.shoppingCart.isEmpty" v-if="purchaseResult.shoppingCart.isEmpty">
        </cart-empty>
        
        <ul class="list-group mb-3">
            <cart-product
                v-for="item in purchaseResult.shoppingCart.items"
                v-bind:item="item">
            </cart-product>
            <cart-total v-bind:total="purchaseResult.shoppingCart.total" v-if="!purchaseResult.shoppingCart.isEmpty">
            </cart-total>
        </ul>
        
        <div v-if="purchaseResult.status == 0">
            <div>Хэш транзакции: {{purchaseResult.transactionHash}}</div>
            <div>Покупатель: {{purchaseResult.customer}}</div>
            <div>Остаток: {{purchaseResult.walletBalance}}</div>
        </div>
        
        <div v-if="purchaseResult.status == 1">
            <div>{{purchaseResult.errorDescription}}</div>
            <div>Остаток: {{purchaseResult.walletBalance}}</div>
        </div>
    </div>
    <div class="col-md-6 order-md-2 mb-4" v-if="purchaseResult.status == 2">
        <div>{{purchaseResult.errorDescription}}</div>
    </div>
</div>