@{
    ViewData["Title"] = "Shopping cart";
}


@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dashboardCart.js"></script>
}

<div id="cart" class="row justify-content-md-center">
    <div class="col-md-6 order-md-2 mb-4">
        <cart-header
            v-bind:count="shoppingCart.count">
        </cart-header>
        <cart-empty
            v-bind:isEmpty="shoppingCart.isEmpty" v-if="shoppingCart.isEmpty"></cart-empty>
        <ul class="list-group mb-3">
            <cart-product
                v-for="item in shoppingCart.items"
                v-bind:item="item"></cart-product>
            <cart-total v-bind:total="shoppingCart.total" v-if="!shoppingCart.isEmpty"></cart-total>
        </ul>
    </div>
</div>