@{
    Layout = "_DashboardLayout";
}

@{
    ViewData["Title"] = "Beermachine dashboard";
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/chartjs/dist/Chart.min.js"></script>
    <script src="~/js/components.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/dashboard.js"></script>
}

<style>
    #TOP {
        position: fixed;
        width: 100%;
        height: 6%;
        top: 0;
        left: 0;
    }
    
    #TOP .container {
        max-width: 100%;
    }

    #N1 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 0;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #N2 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 25%;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #N3 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 50%;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    #N4 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 75%;
        background: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #SW {
        position: fixed;
        width: 40%;
        height: 47%;
        top: 53%;
        left: 0;
        background: transparent;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #SE {
        position: fixed;
        width: 60%;
        height: 47%;
        top: 53%;
        left: 40%;
        background: transparent;
        padding: 20px;
    }
    
    body {
        background-color: #eee;
    }

    /* #SE, #SW { border-top: 1px solid #ffd031; } */

    /* #NE, #SE { border-left: 1px solid #ffd031; } */
    
    .bg-header {
        opacity: 0.5;
    }
    
    .logo {
        padding-left: 100px;
        opacity: 0.9;
    }
    
    .label-container {
        padding-left: 100px;
        padding-top: 5px;
    }
    
    .widget {
        background-color: #fff;
        margin-bottom: 25px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
    
    .widget table {
        width: 100%;
        border-top: 0px;
    }
    
    .widget table td,th {
        padding-left: 20px;
        border-top: 0px;
    }
    
    .widget table tr:nth-child(odd) {
        background: #f5f5f5
    }
    
    .widget table th{
        background: #fff;
    }
    
    .widget table th {
        border-top: 0px;
        padding-left: 20px;
    }
    
    .widget .label {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
   
</style>
<div id="root">
    <div id="TOP">
        <div class="d-flex align-items-center">
            <div class="p-1 flex-shrink-1">
                <img class="logo" src="~/img/sib_logo.svg"/>
            </div>
            <div class="p-2 w-100 align-content-center">
                <div class="label-container">
                    <h4 class="label">ЦИФРОВОЙ КЛАСТЕР. Умный магазин с BLOCKCHAIN-кошельком</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="N1">
        <div class="widget">
            <h4 class="text-muted label">Заработанные Участниками баллы</h4>
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col align-self-center">
                        <canvas id="firstChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="N2">
        <div class="widget">
            <h4 class="text-muted label">Потраченные участниками баллы</h4>
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col align-self-center">
                        <canvas id="secondChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="N3">
        <div class="widget">
            <h4 class="text-muted label">Участники с самым большим балансом</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя участника</th>
                        <th>Баланс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="customer-row" v-for="(item, index) in dashboardData.topRich" v-bind:customer="item" v-bind:index="index"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="N4">
        <div class="widget">
            <h4 class="text-muted label">Участники, потратившие больше всех</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя участника</th>
                        <th>Баланс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="customer-row" v-for="(item,index) in dashboardData.topBuyers" v-bind:customer="item" v-bind:index="index"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="SW">
        <div class="widget">
        <h4 class="text-muted label">Последняя покупка в Умном магазине</h4>
            <div class="container">
                <div v-if="!successPurchase.shoppingCart.isEmpty">
                    <table v-if="!successPurchase.shoppingCart.isEmpty">
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Стоимость, ед.</th>
                        </tr>
                        <tr is="purchase-product" v-for="item in successPurchase.shoppingCart.items" v-bind:item="item"></tr>
                        <tr>
                            <td>Итого</td>
                            <td></td>
                            <td>{{purchaseResult.shoppingCart.total}}</td>
                        </tr>
                    </table>
                    <div> Покупатель: {{successPurchase.customer}}</div>
                    <div> Остаток: {{successPurchase.walletBalance}}</div>
                </div>
                <cart-empty-dashboard v-bind:isEmpty="successPurchase.shoppingCart.isEmpty" v-if="successPurchase.shoppingCart.isEmpty">
                </cart-empty-dashboard>
            </div>
        </div>
    </div>
    <div id="SE">
        <div class="widget">
            <h4 class="label text-muted">Последние транзакции участников в BLOCKCHAIN</h4>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Дата транзакции</th>
                    <th>Номер кошелька Участника</th>
                    <th>Тип транзакции</th>
                    <th>Сумма транзакции</th>
                </tr>
                </thead>
                <tbody>
                <tr is="transaction-row" v-for="(item, index) in dashboardData.transactions" v-bind:transaction="item" v-bind:index="index"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>