@{
    Layout = "_DashboardLayout";
}

@{
    ViewData["Title"] = "Beermachine dashboard";
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/chartjs/dist/Chart.min.js"></script>
    <script src="~/js/components.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/dashboard.js"></script>
}

<style>
    #TOP {
        position: fixed;
        width: 100%;
        height: 6%;
        top: 0;
        left: 0;
    }
    
    after {
        content: "";
        background: repeat-x url(/img/chain_xl.png);
        opacity: 0.1;
        top: 0;
        left: 200px;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    
    #TOP .container {
        max-width: 100%;
    }

    #N1 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 0;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #N2 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 25%;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #N3 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 50%;
        background: transparent;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    #N4 {
        position: fixed;
        width: 25%;
        height: 47%;
        top: 6%;
        left: 75%;
        background: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #SW {
        position: fixed;
        width: 50%;
        height: 47%;
        top: 53%;
        left: 0;
        background: transparent;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #SE {
        position: fixed;
        width: 50%;
        height: 47%;
        top: 53%;
        left: 50%;
        background: transparent;
        padding: 20px;
    }
    
    body {
        background-color: #eee;
    }

    /* #SE, #SW { border-top: 1px solid #ffd031; } */

    /* #NE, #SE { border-left: 1px solid #ffd031; } */
    
    .bg-header {
        opacity: 0.5;
    }
    
    .logo {
        padding-left: 100px;
        opacity: 0.9;
    }
    
    .label-container {
        padding-left: 100px;
        padding-top: 5px;
    }
    
    .widget {
        background-color: #fff;
        margin-bottom: 25px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
    
    .widget table {
        width: 100%;
        border-top: 0px;
    }
    
    .widget table td,th {
        padding-left: 20px;
        border-top: 0px;
    }
    
    .widget table tr:nth-child(odd) {
        background: #f5f5f5
    }
    
    .widget table th{
        background: #fff;
    }
    
    .widget table th {
        border-top: 0px;
        padding-left: 20px;
    }
    
    .widget .label {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
   
</style>
<div id="root">
    <div id="TOP">
        <div class="d-flex align-items-center">
            <div class="p-1 flex-shrink-1">
                <img class="logo" src="~/img/sib_logo.svg"/>
            </div>
            <div class="p-2 w-100 align-content-center">
                <div class="label-container">
                    <h4 class="label">Умный магазин с blockchain кошельком</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="N1">
        <div class="widget">
            <h4 class="text-muted label">Диаграмма 1</h4>
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col align-self-center">
                        <canvas id="firstChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="N2">
        <div class="widget">
            <h4 class="text-muted label">Диаграмма 2</h4>
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col align-self-center">
                        <canvas id="secondChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="N3">
        <div class="widget">
            <h4 class="text-muted label">Топ накопителей</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя участника</th>
                        <th>Баланс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="customer-row" v-for="(item, index) in dashboardData.topSavers" v-bind:customer="item" v-bind:index="index"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="N4">
        <div class="widget">
            <h4 class="text-muted label">Топ транжир</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя участника</th>
                        <th>Баланс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="customer-row" v-for="(item,index) in dashboardData.topSpenders" v-bind:customer="item" v-bind:index="index"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="SW">
        <div class="widget">
        <h4 class="text-muted">Последняя покупка</h4>
            <div class="container">
                <div id="cart" class="row justify-content-md-center">
                    <div class="col-md-6 order-md-2 mb-4">
                        <cart-empty-dashboard v-bind:isEmpty="shoppingCart.isEmpty" v-if="shoppingCart.isEmpty">
                        </cart-empty-dashboard>
                        <ul class="list-group mb-3">
                            <cart-product
                                v-for="item in shoppingCart.items"
                                v-bind:item="item">
                            </cart-product>
                            <cart-total v-bind:total="shoppingCart.total" v-if="!shoppingCart.isEmpty"></cart-total>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="SE">
        <div class="widget">
            <h4 class="label text-muted">Tранзакции</h4>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Дата транзакции</th>
                    <th>Номер кошелька</th>
                    <th>Тип</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr is="transaction-row" v-for="(item, index) in dashboardData.transactions" v-bind:transaction="item" v-bind:index="index"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>