@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Shopping cart";
}


@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components.js?v1"></script>
    <script src="~/js/app.js?v1"></script>
    <script src="~/js/cart.js?v3"></script>
}

<style>
    body { background-color: #eee; }

    #TOP { padding-bottom: 100px; }

    .total { font-size: 15pt; }
    
    .total .row {
        padding-top: 12px;
    }

    .cart h4 { font-size: 1.8rem; }

    .cart h6 { font-size: 1.6rem; }
    
    .logo {
        padding-right: 50px;
    }
    
    .logo-2 {
        height: 55px;
        padding-left: 50px;
    }
    
    small.text-muted {
        font-size: 90%;
    }
</style>

<div id="root" class="row justify-content-md-center">
    <div id="TOP">
        <div class="d-flex align-items-center">
            <div class="p-1 flex-shrink-1">
                <img class="logo" style="" src="~/img/sib_logo.svg"/>
            </div>
            <div class="p-2 w-100 align-content-center">
                <div class="label-container">
                    <h4 class="label" style="padding-top: 10px">Умный магазин с BLOCKCHAIN-кошельком</h4>
                </div>
            </div>
            <div class="p-1 flex-shrink-1">
                <img class="logo-2" style="" src="~/img/logo_digit.png"/>
            </div>
        </div>
    </div>
    
    <div class="cart col-md-8" v-if="purchaseResult.status == 0 || purchaseResult.status == 1">
        <cart-header
            v-bind:count="purchaseResult.shoppingCart.count">
        </cart-header>
        <cart-empty
            v-bind:isEmpty="purchaseResult.shoppingCart.isEmpty" v-if="purchaseResult.shoppingCart.isEmpty">
        </cart-empty>

        <ul class="list-group mb-3">
            <cart-product
                v-for="item in purchaseResult.shoppingCart.items"
                v-bind:item="item">
            </cart-product>
            <cart-total v-bind:total="purchaseResult.shoppingCart.total" v-if="!purchaseResult.shoppingCart.isEmpty">
            </cart-total>
        </ul>
    </div>

    <div class="col-md-8 total" v-if="purchaseResult.status == 0">
        <div class="row">
            <div class="col-md-8">
                <b style="color: green">Успешная покупка</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Хэш транзакции:</div>
            <div  class="col-md-6"><small>{{purchaseResult.transactionHash}}</small></div>
        </div>
        <div class="row">
            <div class="col-md-4">Покупатель:</div>
            <div class="col-md-6">{{purchaseResult.customer}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Текущий остаток:</div>
            <div class="col-md-6">{{purchaseResult.walletBalance}} sib</div>
        </div>
    </div>

    <div class="col-md-8 total" v-if="purchaseResult.status == 1">
        <div class="row">
            <div class="col-md-8">
                <b style="color: indianred">Покупка не удалась</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">{{purchaseResult.errorDescription}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Покупатель:</div>
            <div class="col-md-6">{{purchaseResult.customer}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Текущий остаток:</div>
            <div class="col-md-4">{{purchaseResult.walletBalance}} sib</div>
        </div>
    </div>

    <div class="col-md-8 total" class="col-md-6 order-md-2 mb-4" v-if="purchaseResult.status == 2">
        <div></div>
        <div class="row">
            <div class="col-md-8">
                <b style="color: indianred">Покупка не удалась</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{purchaseResult.errorDescription}}
            </div>
        </div>
    </div>
</div>